POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db_name

FRED_API_KEY=your_fred_api_key
TWELVE_DATA_API_KEY=your_twelvedata_api_key
EXCHANGERATE_ACCESS_KEY=your_exchangerate_access_key